<!DOCTYPE html>
<html>
<head>
  <title>Homebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class='navbar navbar-inverse'>
		<div class='container'>	
			<ul class='nav nav-pills'>
				<li><a class='navbar-brand' href='#'> HomeBook</a></li>
				<li><%= link_to 'All Statuses', statuses_path%></li>

			</ul>
		</div>
	</div>
	<div class='container'>
		<%= yield %>
	</div>


</body>
</html>
